.task
    width: 900px
    margin: 10px auto
    border: 1px solid #b2b2b2

.json
    padding: 10px
    white-space: pre-wrap

.table
    padding: 10px


.table-row__black
    padding: 5px 0
    color: #fff
    background-color: #b2b2b2


.table-row__white
    padding: 5px 0

